Repository lojaintegrada/admin-components, pull requests merged in 2021-09, with the labels that each got.

#44 Add empty state to table
  styleguide/src/Components/Table/Table.stories.tsx
  styleguide/src/Components/Table/Table.tsx
Labels: 📁 Repo: styleguide

#46 New component: Alert
  styleguide/src/Indicators/Alert/Alert.spec.tsx
  styleguide/src/Indicators/Alert/Alert.stories.tsx
  styleguide/src/Indicators/Alert/Alert.tsx
  styleguide/src/Indicators/Alert/index.tsx
  styleguide/src/Indicators/index.ts
Labels: 📁 Repo: styleguide

#47 New component : Toggle
  styleguide/src/Forms/Toggle/Toggle.spec.tsx
  styleguide/src/Forms/Toggle/Toggle.stories.tsx
  styleguide/src/Forms/Toggle/Toggle.tsx
  styleguide/src/Forms/Toggle/index.tsx
  styleguide/src/Forms/index.ts
Labels: 📁 Repo: styleguide

#48 New component: Badge
  styleguide/src/Indicators/Badge/Badge.spec.tsx
  styleguide/src/Indicators/Badge/Badge.stories.tsx
  styleguide/src/Indicators/Badge/Badge.tsx
  styleguide/src/Indicators/Badge/index.tsx
  styleguide/src/Indicators/index.ts
Labels: 📁 Repo: styleguide

#49 New component: Tooltip
  styleguide/package-lock.json
  styleguide/package.json
  styleguide/src/Indicators/Tooltip/Tooltip.spec.tsx
  styleguide/src/Indicators/Tooltip/Tooltip.stories.tsx
  styleguide/src/Indicators/Tooltip/Tooltip.tsx
  styleguide/src/Indicators/Tooltip/index.tsx
  styleguide/src/Indicators/index.ts
  styleguide/yarn.lock
Labels: 📁 Repo: styleguide

#51 Some fixes in toggle component
  styleguide/src/Forms/Toggle/Toggle.tsx
Labels: 📁 Repo: styleguide

#52 feat: add black and focus colors in tailwind
  tailwindcss/src/defaultPreset.js
Labels: 📁 Repo: tailwindcss

#53 Spread operator at string was converted to concat(wrongly) after building
  styleguide/src/Forms/InputMask/utils.ts
  styleguide/yarn.lock
Labels: 📁 Repo: styleguide

#50 New component : Checkbox
  styleguide/src/Forms/Checkbox/Checkbox.spec.tsx
  styleguide/src/Forms/Checkbox/Checkbox.stories.tsx
  styleguide/src/Forms/Checkbox/Checkbox.tsx
  styleguide/src/Forms/Checkbox/index.tsx
  tailwindcss/src/defaultPreset.js
Labels: 📁 Repo: styleguide, 📁 Repo: tailwindcss

#45 feat: add start/end input adornments
  styleguide/src/Forms/Input/Input.spec.tsx
  styleguide/src/Forms/Input/Input.stories.tsx
  styleguide/src/Forms/Input/Input.tsx
  styleguide/src/Forms/InputCurrency/InputCurrency.stories.tsx
  styleguide/src/Forms/InputMask/InputMask.stories.tsx
  styleguide/src/Forms/InputMask/InputMask.tsx
  styleguide/src/Forms/Select/Select.tsx
  styleguide/src/Forms/commonStyles.ts
Labels: 📁 Repo: styleguide

#60 feat: prevent close modal
  styleguide/src/Components/Modal/Modal.tsx
Labels: styleguide

#59 General small adjusts and Alert component
  styleguide/src/Forms/Dropdown/Dropdown.tsx
  styleguide/src/Forms/Input/Input.spec.tsx
  styleguide/src/Forms/Input/Input.stories.tsx
  styleguide/src/Forms/Select/Select.spec.tsx
  styleguide/src/Forms/Select/Select.stories.tsx
  styleguide/src/Forms/commonStyles.ts
  styleguide/src/Icons/icons-path/Exchange.tsx
  styleguide/src/Icons/icons-path/InfoCircle.tsx
  styleguide/src/Icons/icons-path/index.ts
  styleguide/src/Indicators/Alert/Alert.spec.tsx
  styleguide/src/Indicators/Alert/Alert.stories.tsx
  styleguide/src/Indicators/Alert/Alert.tsx
  styleguide/src/Indicators/Status/Status.spec.tsx
  styleguide/src/Indicators/Status/Status.tsx
  styleguide/src/Indicators/Tooltip/Tooltip.tsx
Labels: styleguide

#61 fix: add checkbox to form export
  styleguide/src/Forms/index.ts
Labels: styleguide

#62 fix: class refinement and checkbox label allow node
  styleguide/src/Forms/Checkbox/Checkbox.spec.tsx
  styleguide/src/Forms/Checkbox/Checkbox.stories.tsx
  styleguide/src/Forms/Checkbox/Checkbox.tsx
Labels: styleguide

#63 Suffix should have same height as parent
  styleguide/src/Forms/commonStyles.ts
Labels: styleguide

#64 feat: onblur and default value for dropdown
  styleguide/src/Forms/Dropdown/Dropdown.stories.tsx
  styleguide/src/Forms/Dropdown/Dropdown.tsx
  styleguide/src/Forms/Toggle/Toggle.tsx
Labels: styleguide
