Repository lojaintegrada/admin-components, pull requests merged in 2021-11, with the labels that each got.

#79 Alert subtitle accept reactNode and actions don't shrink
  styleguide/src/Indicators/Alert/Alert.tsx
Labels: styleguide

#78 New component: ActionBar
  styleguide/src/Components/ActionBar/ActionBar.spec.tsx
  styleguide/src/Components/ActionBar/ActionBar.stories.tsx
  styleguide/src/Components/ActionBar/ActionBar.tsx
  styleguide/src/Components/ActionBar/index.tsx
  styleguide/src/Components/index.ts
Labels: 📁 Repo: styleguide, styleguide

#80 fix: toogle inline flex and box content class
  styleguide/src/Forms/Toggle/Toggle.tsx
  styleguide/src/Layout/Box/Components/Content/BoxContent.tsx
Labels: styleguide

#81 Container component and some fixes in ActionBar
  styleguide/src/Components/index.ts
  styleguide/src/Layout/ActionBar/ActionBar.spec.tsx
  styleguide/src/Layout/ActionBar/ActionBar.stories.tsx
  styleguide/src/Layout/ActionBar/ActionBar.tsx
  styleguide/src/Layout/ActionBar/index.tsx
  styleguide/src/Layout/Container/Container.spec.tsx
  styleguide/src/Layout/Container/Container.stories.tsx
  styleguide/src/Layout/Container/Container.tsx
  styleguide/src/Layout/Container/index.tsx
  styleguide/src/Layout/constants.ts
  styleguide/src/Layout/index.ts
Labels: styleguide

#82 fix: export container header
  styleguide/src/Layout/Container/Container.stories.tsx
  styleguide/src/Layout/Container/Container.tsx
  styleguide/src/Layout/Sidebar/Sidebar.tsx
  styleguide/src/Layout/Sidebar/index.tsx
Labels: styleguide

#83 Feat/ controlled table rows and disabled rows
  styleguide/src/Components/Table/Table.stories.tsx
  styleguide/src/Components/Table/Table.tsx
  styleguide/src/Icons/icons-path/AngleDiagonal.tsx
  styleguide/src/Icons/icons-path/AngleHeight.tsx
  styleguide/src/Icons/icons-path/AngleWidth.tsx
  styleguide/src/Icons/icons-path/index.ts
Labels: styleguide

#84 feat: changing scope of apps
  styleguide/package.json
  tailwindcss/package.json
Labels: styleguide, tailwindcss

#86 feat: upgrading to new version tailwindcss-config
  styleguide/README.md
  styleguide/package-lock.json
  styleguide/package.json
  styleguide/stories/Introduction.stories.mdx
  styleguide/tailwind.config.js
  styleguide/yarn.lock
  tailwindcss/README.md
Labels: styleguide

#87 Feat/ outline button variant
  styleguide/src/Components/Button/Button.tsx
Labels: styleguide

#88 fix: modal small size
  styleguide/src/Components/Modal/Modal.tsx
Labels: styleguide

#89 feat: add icon sync
  styleguide/src/Icons/icons-path/Sync.tsx
  styleguide/src/Icons/icons-path/index.ts
Labels: styleguide

#91 Add icon move and image
  styleguide/src/Icons/icons-path/Image.tsx
  styleguide/src/Icons/icons-path/Move.tsx
  styleguide/src/Icons/icons-path/index.ts
Labels: styleguide
